.var {
	border: solid 1px #e45028;
	margin: 5px;
}
.if {
	border: solid 1px #e45028;
	margin: 5px;
}
.for {
	border: solid 1px #e45028;
	margin: 5px;
}
.function {
	border: solid 1px #e45028;
	margin: 5px;
}
.massive {
	border: solid 1px #e45028;
	margin: 5px;
}
.object {
	border: solid 1px #e45028;
	margin: 5px;
}
.js4 {
	border: solid 1px #e45028;
	margin: 5px;
}
.dom1-4 {	
	border: solid 1px #3d934d;
	margin: 5px;
}
.dom5 {	
	border: solid 1px #3d934d;
	margin: 5px;
}
.dom6 {	
	border: solid 1px #3d934d;
	margin: 5px;
}