.burghers__page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #f9b43b;
  background-image: -webkit-linear-gradient(bottom, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
  background-image: -o-linear-gradient(bottom, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f9b43b), color-stop(48%, #eb8c38), color-stop(74%, #f9b43b), to(#f9b43b));
  background-image: linear-gradient(to top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%); }

.burghers__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 68.75rem;
  height: 72%; }
  @media (max-width: 768px) {
    .burghers__container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.burghers__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 31.5625rem;
  height: 20.625rem;
  top: 50%;
  left: 50%; }

.brg__img {
  max-width: 100%;
  max-height: 100%; }

.burghers__item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-repeat: no-repeat;
  background-position: center;
  width: 50%;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.burgher__item-elem {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 5.625rem;
  height: 5.625rem;
  background-color: #f08c33;
  border-radius: 10%;
  margin-top: -50%;
  left: 10%; }
  @media (max-width: 480px) {
    .burgher__item-elem {
      margin-top: -100%;
      left: -35%; } }

.elem__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background-image: url(../img/burger.png);
  background-repeat: no-repeat;
  background-position: center; }

.elem__txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  color: #ffffff;
  font-family: 'Gagalin-Regular';
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.75rem; }

.burghers__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 80%;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }

.burgher__item-elem2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 5.625rem;
  height: 7rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  bottom: 5%;
  left: 10%; }
  @media (max-width: 768px) {
    .burgher__item-elem2 {
      top: -22%;
      left: 80%; } }
  @media (max-width: 480px) {
    .burgher__item-elem2 {
      top: -25%;
      left: 100%; } }

.elem__img2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: url(../img/kkal.png);
  background-repeat: no-repeat;
  background-position: center; }

.item-elem2-txt {
  opacity: 0.5;
  color: #ffffff;
  font-family: 'Gagalin-Regular';
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-top: 20%; }

.elem__txt2 {
  opacity: 0.5;
  color: #ffffff;
  font-family: 'Gagalin-Regular';
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem; }

.burghers__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-array;
  -ms-flex-pack: space-array;
  justify-content: space-array; }

.details__name {
  color: #ffffff;
  font-family: 'Gagalin-Regular';
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 4rem; }
  @media (max-width: 768px) {
    .details__name {
      text-align: center; } }

.details__dscr {
  color: #ffffff;
  font-family: 'Ubuntu';
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem; }
  @media (max-width: 768px) {
    .details__dscr {
      text-align: center; } }

.price__nr {
  color: #e35028;
  font-family: 'Gagalin-Regular';
  font-size: 4.5rem;
  font-weight: 400;
  letter-spacing: -1.79px;
  line-height: 1.75rem; }

.price__txt {
  color: #e35028;
  font-family: Gagalin;
  font-size: 1.875rem;
  font-weight: 400;
  line-height: 1.75rem;
  letter-spacing: -0.75px; }

.burghers__arrow-left {
  position: absolute;
  left: 15%; }
  @media (max-width: 480px) {
    .burghers__arrow-left {
      bottom: 65%; } }
  @media (max-width: 768px) {
    .burghers__arrow-left {
      bottom: 50%; } }

.burghers__arrow-right {
  position: absolute;
  right: 15%; }
  @media (max-width: 480px) {
    .burghers__arrow-right {
      bottom: 65%; } }
  @media (max-width: 768px) {
    .burghers__arrow-right {
      bottom: 50%; } }

.burghers__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 6.125rem;
  height: 2.1875rem;
  background-color: #e45028;
  border-radius: 10%;
  padding: 0;
  border: none;
  color: #ffffff;
  font-family: 'Ubuntu';
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.875rem;
  text-transform: uppercase;
  right: 20%;
  bottom: 28%;
  cursor: pointer; }
  @media (max-width: 768px) {
    .burghers__btn {
      right: 35%;
      bottom: 16%; } }
  @media (max-width: 480px) {
    .burghers__btn {
      right: 20%;
      bottom: 15%; } }
