$tablets: 768px;
$phones: 480px;

@media (max-width: $tablets) {

}

@media (max-width: $phones) {

}

@mixin tablets {
  @media (max-width: $tablets) {
    @content;
  }
}
@mixin phones {
  @media (max-width: $phones) {
    @content;
  }
}


.slider__menu{
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: #f9b43b;
    background-image: linear-gradient(to top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);

}
.slider{
  display: flex;
  position: relative;
  width: 85%;
  height: 75%;
  max-width: 1000px;
}

.slider__elem{
  display: flex !important; 
  position: relative;
  min-width: 27%;
  min-height: -webkit-fill-available !important;
  height: 100%;
  align-items: center;
      @include tablets {
    flex-direction: column;
        min-width: 33%;
            display: flex !important;
      min-height: -webkit-fill-available !important;
    justify-content: space-evenly;
}
      @include phones {
    min-width: 24%;
}
}
.slider__img{
  display: flex;
  width: 50%;
  height: 100%;
  align-items: center;
      @include tablets {
    width: 100%;
     min-height: 50%;
    align-items: flex-end;
    justify-content: center;
}
}
.slider__details{
  display: flex;
  width: auto;
  height: 90%;
  top: 2%;
  position: absolute;
  justify-content: space-between;
  flex-direction: column;

   @include tablets {
    flex-direction: row;
    width: 90%;
    height: auto;
    top: 0%;
    left: 5%;
}
}
.composition__txt{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-family: 'Gagalin-Regular';
  font-size: 14px;
  font-weight: 400;
  line-height: 28.11px;
  position: relative;
}
.composition__img{
  display: flex;
  justify-content: center;
  align-items: center;
}
.composition__elem{
    width: 90px;
    height: 90px;
    display: flex;
    background-color: #f08c33;
    border-radius: 5%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 1.5s;
}
.brg-img{
  width: 31.5625rem;
    height: 20.625rem;
}
.kkal__elem{
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ffffff;
  font-family: 'Gagalin-Regular';
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.4;
}
.kkal_txt{
  position: absolute;
  text-align: center;
  display: flex;
  justify-content: space-between;
  height: 85%;
    top: 40%;
  flex-direction: column;
      @include tablets {
        height: 66%;
}

}

.kkal_txt1{
  opacity: 0.5;
  color: #ffffff;
  font-family: 'Gagalin-Regular';
  font-size: 20px;
  font-weight: 400;
  line-height: 24px;
}
.kkal_txt2{
  opacity: 0.5;
  color: #ffffff;
  font-family: 'Gagalin-Regular';;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.slider__txt{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 50%;
      @include tablets {
        width: 80%;
    min-height: 50%;
    text-align: center;
}
}
.details__name{
  color: #ffffff;
  font-family: 'Gagalin-Regular';
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 4rem;
}
.details__price{
  display: flex;
  justify-content: flex-start;
  color: #e35028;
  font-family: 'Gagalin-Regular';
  font-size: 30px;
  font-weight: 400;
  line-height: 28.08px;
      @include tablets {
  justify-content: center;
    margin-right: 20%;   
}
}
.price__nr{
  font-size: 4.5rem;
}
.price__txt{
  letter-spacing: -0.75px;
  margin-top: 3%;
}
.content__txt-details{
  color: #ffffff;
  font-family: 'Ubuntu';
  font-size: 14px;
  font-weight: 300;
  line-height: 23.97px;
   padding: 20%;
   margin-left: -20%;
      @include tablets {  
    padding: 0;
    margin-left: 0;
}


}
.burghers__btn{
  display: flex;
  position: absolute;
  width: 6.125rem;
  height: 2.1875rem;
  justify-content: center;
  align-items: center;
  border-radius: 10%;
  background-color: #e45028;
  color: #ffffff;
  font-family: 'Ubuntu';
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.875rem;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0;
    border: none;
    bottom: 18%;
    left: 75%;
   @include tablets {  
    bottom: 9%;;
    left: 60%;
}
  @include phones {
    bottom: 8%;
    left: 70%;
  } 
}

.burghers__arrow{
  display: flex;
  position: absolute;
  justify-content: space-between;
  width: 70%;
    align-items: center;
}
.slick-arrow{
  display: flex;
}
.burghers__arrow-right{
  display: flex;
  position: absolute;
  top: 50%;
  right: -3%;
}
.burghers__arrow-left{
  display: flex;
  position: absolute;
  top: 50%;
  left: -3%;
}


.make__hover{
  flex-direction: column;
  display: none;
  justify-content: space-evenly;
  align-items: center;
  top: -189%;
  left: 100%;
  position: absolute;
  width: 16.875rem;
  height: 0px;
  background-color: #ffffff;
  opacity: 0.9;
  border-radius: 2%;
}
.make__row{
  display: flex;
  width: 85%;
  justify-content: space-between;
}
.make__txt{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 70%;
  justify-content: space-between;
}
.make__txt-name{
  color: #2f3234;
  font-family: 'Ubuntu';
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}
.make__txt-price{
  color: #2f3234;
  font-family: 'Ubuntu';
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
}

.composition__elem:hover .make__hover {
  height: 20.75rem;
  display: flex;
}
