.slider__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: solid 1px #293342;
  background-color: #f9b43b;
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f9b43b), color-stop(48%, #eb8c38), color-stop(74%, #f9b43b), to(#f9b43b));
  background-image: -webkit-linear-gradient(bottom, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
  background-image: -o-linear-gradient(bottom, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
  background-image: linear-gradient(to top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%); }

.slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 85%;
  height: 75%;
  max-width: 1000px; }

.slider__elem {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
  position: relative;
  min-width: 27%;
  min-height: -webkit-fill-available !important;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 768px) {
    .slider__elem {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      min-width: 33%;
      display: -webkit-box !important;
      display: -ms-flexbox !important;
      display: flex !important;
      min-height: -webkit-fill-available !important;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly; } }
  @media (max-width: 480px) {
    .slider__elem {
      min-width: 24%; } }

.slider__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (max-width: 768px) {
    .slider__img {
      width: 100%;
      min-height: 50%;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.slider__details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 90%;
  top: 2%;
  position: absolute;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  z-index: -2; }
  @media (max-width: 768px) {
    .slider__details {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      width: 90%;
      height: auto;
      top: 0%;
      left: 5%; } }

.composition__txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  text-align: center;
  color: #ffffff;
  font-family: 'Gagalin-Regular';
  font-size: 14px;
  font-weight: 400;
  line-height: 28.11px; }

.composition__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.composition__elem {
  width: 90px;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f08c33;
  border-radius: 5%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.brg-img {
  width: 31.5625rem;
  height: 20.625rem; }

.kkal__elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #ffffff;
  font-family: 'Gagalin-Regular';
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  opacity: 0.4; }

.kkal_txt {
  position: absolute;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 85%;
  top: 40%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media (max-width: 768px) {
    .kkal_txt {
      height: 66%; } }

.kkal_txt1 {
  opacity: 0.5;
  color: #ffffff;
  font-family: 'Gagalin-Regular';
  font-size: 20px;
  font-weight: 400;
  line-height: 24px; }

.kkal_txt2 {
  opacity: 0.5;
  color: #ffffff;
  font-family: 'Gagalin-Regular';
  font-size: 14px;
  font-weight: 400;
  line-height: 24px; }

.slider__txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  width: 50%; }
  @media (max-width: 768px) {
    .slider__txt {
      width: 80%;
      min-height: 50%;
      text-align: center; } }

.details__name {
  color: #ffffff;
  font-family: 'Gagalin-Regular';
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 4rem; }

.details__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  color: #e35028;
  font-family: 'Gagalin-Regular';
  font-size: 30px;
  font-weight: 400;
  line-height: 28.08px; }
  @media (max-width: 768px) {
    .details__price {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      margin-right: 20%; } }

.price__nr {
  font-size: 4.5rem; }

.price__txt {
  letter-spacing: -0.75px;
  margin-top: 3%; }

.content__txt-details {
  color: #ffffff;
  font-family: 'Ubuntu';
  font-size: 14px;
  font-weight: 300;
  line-height: 23.97px;
  padding: 20%;
  margin-left: -20%; }
  @media (max-width: 768px) {
    .content__txt-details {
      padding: 0;
      margin-left: 0; } }

.burghers__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 6.125rem;
  height: 2.1875rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10%;
  background-color: #e45028;
  color: #ffffff;
  font-family: 'Ubuntu';
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.875rem;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0;
  border: none;
  bottom: 18%;
  left: 75%; }
  @media (max-width: 768px) {
    .burghers__btn {
      bottom: 10%;
      left: 60%; } }
  @media (max-width: 480px) {
    .burghers__btn {
      bottom: 8%;
      left: 70%; } }

.burghers__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 70%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.slick-arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.burghers__arrow-right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 50%;
  right: -3%; }

.burghers__arrow-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 50%;
  left: -3%; }
