.burghers__page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #f9b43b;
  background-image: -webkit-linear-gradient(bottom, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
  background-image: -o-linear-gradient(bottom, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%);
  background-image: -webkit-gradient(linear, left bottom, left top, from(#f9b43b), color-stop(48%, #eb8c38), color-stop(74%, #f9b43b), to(#f9b43b));
  background-image: linear-gradient(to top, #f9b43b 0%, #eb8c38 48%, #f9b43b 74%, #f9b43b 100%); }

.burghers__container {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 68.75rem;
  height: 72%;
  overflow: hidden; }
  @media (max-width: 768px) {
    .burghers__container {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      height: 100%; } }

.burghers__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  min-width: 100%;
  height: 95%;
  z-index: 1; }
  @media (max-width: 768px) {
    .burghers__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 100vh; } }

.content__elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 50%;
  height: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  z-index: 2; }
  @media (max-width: 768px) {
    .content__elem {
      -webkit-box-pack: end;
      -ms-flex-pack: end;
      justify-content: flex-end; } }
  @media (max-width: 480px) {
    .content__elem {
      width: 90%;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end; } }

.content__txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 100%; }
  @media (max-width: 768px) {
    .content__txt {
      text-align: center; } }

.burghers__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 75%;
  position: absolute;
  z-index: 5; }

.elem__details-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  left: 0;
  height: 100%;
  width: auto;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  z-index: 3; }
  @media (max-width: 768px) {
    .elem__details-item {
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row;
      height: 100%;
      width: 100%;
      top: 5%; } }
  @media (max-width: 480px) {
    .elem__details-item {
      top: 10%; } }

.elem__img-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  z-index: 1; }

.composition__elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 5.625rem;
  height: 5.625rem;
  border-radius: 8%;
  background-color: #f08c33; }

.composition__txt {
  color: #ffffff;
  font-family: 'Gagalin-Regular';
  font-size: 14px;
  font-weight: 400; }

.brg-img {
  width: 31.5625rem;
  height: 20.625rem; }

.kkal__elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 3.75rem;
  height: 4.6875rem;
  background-repeat: no-repeat;
  background-size: 100%;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.kkal_txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.kkal_txt1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0.5;
  margin-top: 145%;
  color: #ffffff;
  font-family: 'Gagalin-Regular';
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-left: 6%; }

.kkal-img {
  position: absolute; }

.kkal_txt2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 0.5;
  color: #ffffff;
  font-family: 'Gagalin-Regular';
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5rem;
  margin-top: 27%; }

.content__txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: space-evenly;
  -ms-flex-pack: space-evenly;
  justify-content: space-evenly; }

.details__name {
  color: #ffffff;
  font-family: 'Gagalin-Regular';
  font-size: 3.7rem;
  font-weight: 400;
  line-height: 4rem; }

.content__txt-details {
  color: #ffffff;
  font-family: 'Ubuntu';
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem; }

.details__price {
  color: #e35028;
  font-family: 'Gagalin-Regular';
  font-size: 1.875rem;
  font-weight: 400;
  line-height: 1.75rem; }
  @media (max-width: 768px) {
    .details__price {
      text-align: start; } }

.price__nr {
  font-size: 4.5rem; }

.price__txt {
  letter-spacing: -0.75px; }

.burghers__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  width: 6.125rem;
  height: 2.1875rem;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 10%;
  background-color: #e45028;
  color: #ffffff;
  font-family: 'Ubuntu';
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.875rem;
  text-transform: uppercase;
  cursor: pointer;
  padding: 0;
  border: none;
  right: 10%;
  bottom: 16%; }
  @media (max-width: 768px) {
    .burghers__btn {
      right: 32%;
      bottom: 6%; } }
  @media (max-width: 480px) {
    .burghers__btn {
      right: 25%; } }

.burghers__content1 {
  margin-right: 100vw; }

.burghers__content3 {
  margin-left: 100vw; }
