$tablets: 768px;
$phones: 480px;

@media (max-width: $tablets) {

}

@media (max-width: $phones) {

}

@mixin tablets {
	@media (max-width: $tablets) {
		@content;
	}
}
@mixin phones {
	@media (max-width: $phones) {
		@content;
	}
}

body {
	font-size: 16px;
}

.hero__container{
	display: flex;
	position: relative;
	flex-direction: column;
	height: 100vh;
	width: 68.75rem;
	justify-content: space-between;
}
.header{
	display: flex;
	align-items: center;
	justify-content: space-evenly;
	width: 100%;
	height: 4.375rem;
	margin-top: 2vh;
	@include tablets{
		justify-content: flex-start;
	}
	@include phones {
	justify-content: space-evenly;
}
}
.img-hero{
	max-width: 100%;
	max-height: 100%;
}

.sidebar{
	text-align: center;
    display: inline;
    text-decoration: none;
    @include tablets{
    	display: none;
    }
}
.sidebar__container{
	display: flex;
	list-style: none;
}
.sidebar__elem{
	display: flex;
	align-items: center;
	padding: 0.4375rem;
}
a{
	text-decoration: none;
	color: #ffffff;
}
.sidebar__elem_txt{
	color: #ffffff;
	font-family: 'Ubuntu';
	font-size: 0.8125rem;
	font-weight: 500;
	line-height: 1.875rem;
	text-transform: uppercase;
}
.circle{
  display: flex;
  width: 0.3125rem;
  height: 0.3125rem;
  border-radius: 50%;
  background-color: #fff;
}
.mobile__sidebar{
	display: flex;
	flex-direction: column;
	display: visible;
}

.adaptive__sidebar{
	display: flex;
	position: absolute;
	top: 75%;
    left: -105%;
		@include phones {
	    top: 8%;
    	left: 27%;
}
}

.mobile__elements{
	display: flex;
	border: solid 1px #ffcc99;
	border-radius: 19%;
	justify-content: center;
}
.mobile__item{
	font-family: Ubuntu;
	font-size: 13px;
	font-weight: 500;
	line-height: 30px;
	text-transform: uppercase;
	text-align: center;
}

.button{
	display: flex;
	right: 0%;
	align-items: center;
	justify-content: center;
	color: #ffffff;
	font-family: 'Ubuntu';
	font-size: 0.8125rem;
	font-weight: 500;
	line-height: 1.875rem;
	text-transform: uppercase;
	width: 6.0625rem;
	height: 2.1875rem;
	border-radius: 0.3125rem;
	background-color: #e45028;
	@include tablets{
	position: absolute;	
	right: 15%;
    top: 3%;
	}
	@include phones {
	position: unset;
}
}
.hero__content{
	display: flex;
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}
.hero__arrow{
	display: flex;
	width: 100%;
	height: auto;
	align-items: center;
	justify-content: center;
	margin-bottom: 6.4vh;
}
.content__txt li{
	list-style-type: none;
}
.content__img{
	margin-bottom: 6%;
}
.content__txt1{
	color: #f9b43b;
	font-family: 'Gagalin-Regular';
	font-size: 4.5rem;
	font-weight: 400;
	line-height: 5.3125rem;
}
.content__txt2{
	color: #ffffff;
	font-family: 'Lifehack-Medium';
	font-weight: 500;
	font-size: 4.0625rem;
	letter-spacing: -0.0625rem;
	line-height: 5.3125rem;
}
.content__txt3{
	color: #ffffff;
	font-family: 'Lifehack-Medium';
	font-weight: 500;
	font-size: 4.0625rem;
	letter-spacing: -0.0625rem;
	line-height: 3.75rem;
}
.nav__sidebar-icon{
	display: flex;
    width: 50px;
    height: 50px;
    position: absolute;
    top: 2%;
    border-radius: 20%;
    right: 0%;
    background-color: #ffd47a;
    display: none;
    @include tablets {
    	display: flex;
    	right: 2%;
    }
    @include phones {
	position: unset;
}
}
.sidebar-icon__mdf{
	width: 100%;
	height: 100%;
}