.map__footer-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  z-index: 10;
  width: 100%;
  bottom: 0;
  height: 3.75rem;
  background-image: url(../img/footer-bg.png);
  background-repeat: no-repeat;
  background-size: cover; }
  @media (max-width: 480px) {
    .footer {
      height: 8.75rem; } }

.footer__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 68.75rem;
  height: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  background-repeat: no-repeat; }
  @media (max-width: 480px) {
    .footer__content {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      height: 8.75rem;
      -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
      justify-content: space-evenly; } }

.footer__contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }
  @media (max-width: 768px) {
    .footer__contacts-block {
      margin-left: 2%; } }
  @media (max-width: 480px) {
    .footer__contacts-block {
      -ms-flex-pack: distribute;
      justify-content: space-around;
      height: 50%; } }

.footer__contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0.625rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.contacts__adress {
  color: #ffffff;
  font-family: 'Ubuntu';
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem; }

.contacts__telefon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-position: -0.3125rem -2.1875rem; }
  @media (max-width: 480px) {
    .contacts__telefon {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.contacts__number {
  font-family: 'Ubuntu';
  font-size: 0.875rem;
  color: #e45028;
  margin-left: 0.4375rem;
  font-weight: 700; }

.footer__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 50%;
  height: 100%;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }
  @media (max-width: 480px) {
    .footer__social {
      height: auto;
      width: 100%;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.footer-icon {
  width: 20px;
  margin-right: 10px;
  height: 20px;
  fill: #585858;
  padding: 3px;
  border-radius: 3px; }

.footer-icon:hover {
  background-color: #fff;
  fill: #000; }

#myMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: fixed;
  top: 7%;
  right: 7%;
  height: 11rem;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.nav_elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.nav__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #fff; }

.nav_elem .active:before {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: solid 1px #fff;
  width: 200%;
  height: 200%;
  border-radius: 50%;
  content: '';
  position: absolute; }
