$tablets: 768px;
$phones: 480px;

@media (max-width: $tablets) {

}

@media (max-width: $phones) {

}

@mixin tablets {
	@media (max-width: $tablets) {
		@content;
	}
}
@mixin phones {
	@media (max-width: $phones) {
		@content;
	}
}
.team__page{
	display: flex;
	width: 100%;
	height: 100vh;
	align-items: center;
	justify-content: center;
	background-image: url(../img/team.png);
	background-repeat: no-repeat;
	background-size: cover;
}
.team__container{
	display: flex;
	align-items: center;
	justify-content: center;
	position: relative;
	width: 100%;
	height: 100%;
}
.container__block{
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	width: 50%;
	height: 100%;
	top: 0;
	right: 0;
	bottom: 0;
	background-color: #2f3234;
	opacity: 0.93;
	@include tablets {
	top: 15.5%;
}
}
.accordeon__block{
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	width: 100%;
	height: 100%;
}
.accordeon__elements{
	display: flex;
	flex-wrap: wrap;
	padding-left: inherit;
	margin: 0;
}


.team__dscr__block{
	display: flex;
	position: relative;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-start;
	height: 60%;
	width: 60%;
}
.team__txt{
	position: absolute;
	left: 0;
	top: 0;
	color: #f9b43b;
	font-family: Gagalin;
	font-size: 4.5rem;
	font-weight: 400;
	line-height: 4rem;
}

.team__acordeon{
	display: flex;
	width: 100%;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
}
.team__name{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	width: 100%;
	height: auto;
}
.pre-name__triagle{
	width: 0;
	height: 0;
	border-style: solid;
	border-width: 0 0.25rem 0.4375rem 0.25rem;
	border-color: transparent transparent #f9b33b transparent;
}
.team-name__txt{
	padding: 5%;
	color: #ffffff;
	font-family: Gagalin;
	font-size: 0.875rem;
	font-weight: 400;
	line-height: 1.75rem;
}
.team__dscr{
	display: flex;
	width: 100%;
	align-items: center;
	overflow: hidden;
	max-height: 0;
	transition: 1.5s;
}
.team__img{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 6.25rem;
	height: 6.25rem;
	border-radius: 50%;
	background-size: auto;
	overflow: hidden;
}
.tm-img__circle{
	display: flex;
    width: auto;
    height: 100%;
    margin: 0 auto;
}
.team__dscr-txt{
	display: flex;
	flex-direction: column;
	width: 45%;
	height: 100%;
	padding: 1.25rem;
	margin-top: -1.375rem;
}
.dscr-txt__function{
	color: #ffffff;
	font-family: Ubuntu;
	font-size: 0.875rem;
	line-height: 1.5rem;
	font-weight: 700;
}
.dscr-txt__txt{
	color: #ffffff;
	font-family: Ubuntu;
	font-size: 0.875rem;
	font-weight: 300;
	line-height: 1.5rem;
}	
.team__acordeon:hover {
	.team__dscr{
		max-height: 62.5rem;
	}
	.team-name__txt{
		color: #f9b43b;
	}
		.pre-name__triagle{
		border-width: 0.4375rem 0.25rem 0 0.25rem;
		border-color: #f9b33b transparent transparent transparent;
	}
}