.team__page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100vh;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-image: url(../img/team.png);
  background-repeat: no-repeat;
  background-size: cover; }

.team__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  width: 100%;
  height: 100%; }

.container__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  width: 50%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: #2f3234;
  opacity: 0.93; }
  @media (max-width: 768px) {
    .container__block {
      width: 100%; } }
  @media (max-width: 480px) {
    .container__block {
      width: 100%; } }

.accordeon__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: absolute;
  width: 100%;
  height: 100%; }

.accordeon__elements {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-left: inherit;
  margin: 0; }
  @media (max-width: 768px) {
    .accordeon__elements {
      text-align: center; } }

.team__dscr__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  height: 60%;
  width: 60%; }

.team__txt {
  position: absolute;
  left: 0;
  top: 0;
  color: #f9b43b;
  font-family: 'Gagalin-Regular';
  font-size: 4.5rem;
  font-weight: 400;
  line-height: 4rem; }
  @media (max-width: 768px) {
    .team__txt {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      width: 100%; } }

.team__acordeon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

.team__name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  width: 100%;
  height: auto; }
  @media (max-width: 768px) {
    .team__name {
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center; } }

.pre-name__triagle {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 0.25rem 0.4375rem 0.25rem;
  border-color: transparent transparent #f9b33b transparent; }

.team-name__txt {
  padding: 5%;
  color: #ffffff;
  font-family: 'Gagalin-Regular';
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.75rem; }
  @media (max-width: 768px) {
    .team-name__txt {
      font-size: 1.5625rem; } }

.team__dscr {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  overflow: hidden;
  max-height: 0;
  -webkit-transition: 1.5s;
  -o-transition: 1.5s;
  transition: 1.5s; }
  @media (max-width: 768px) {
    .team__dscr {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; } }

.team__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 6.25rem;
  height: 6.25rem;
  border-radius: 50%;
  background-size: auto;
  overflow: hidden; }

.tm-img__circle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  height: 100%;
  margin: 0 auto; }

.team__dscr-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 45%;
  height: 100%;
  padding: 1.25rem;
  margin-top: -1.375rem; }

.dscr-txt__function {
  color: #ffffff;
  font-family: 'Ubuntu';
  font-size: 0.875rem;
  line-height: 1.5rem;
  font-weight: 700; }
  @media (max-width: 768px) {
    .dscr-txt__function {
      text-align: center; } }

.dscr-txt__txt {
  color: #ffffff;
  font-family: 'Ubuntu';
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5rem; }
  @media (max-width: 768px) {
    .dscr-txt__txt {
      text-align: center; } }

.team__acordeon:hover .team__dscr {
  max-height: 62.5rem; }

.team__acordeon:hover .team-name__txt {
  color: #f9b43b; }

.team__acordeon:hover .pre-name__triagle {
  border-width: 0.4375rem 0.25rem 0 0.25rem;
  border-color: #f9b33b transparent transparent transparent; }
